body{
    background-color: white ;
}


div{
    margin: 30px; /* Márgenes de 30px en todas las direcciones */
    border: 1px solid black; /* Borde sólido de 1px de color negro */
    background-color: #f0f0f0;
    padding: 10px;
}

.encabezado ul{
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0;
    margin: 0;
    display: flex; /* Usa flexbox para alinear los elementos en fila */
}
/* Estilo para los elementos de la lista */
.encabezado li {
    margin-right: 520px; /* Espacio entre elementos */
}

.cuerpo{
    display: grid; /* Usar CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Columnas flexibles */
    gap: 10px; /* Espacio entre los elementos */
}