<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" width="10" height="10">
    <title></title>
</head>
<body>
    <div class="encabezado">

        <div class="info">
            <img src="/static/assets/logo2.png" alt="softnes" id="soft">
            <h3>SOFTNESS</h3>
        </div>
        <div class="color">
            <button onclick="mover">Cambiar Color</button>
        </div>
    </div>

    <div class="cuerpo">
        <div>
            <p id="crear">Crea una base de datos SQL,</p>
            <p id="siguiendo">siguiendo este flujo...</p>

            <div>
                <input type="text" name="create" size= "50" value="1.- Crea tu base de Datos(CREATE DATABASE)">
                <input type="text" name="use" size= "50" value="2.- Ubícate en tu base de datos(USE)">
                <input type="text" name="create-table" size= "50" value="3.- Crea una tabla en tu base de Datos(CREATE TABLE)">
                <input type="text" name="insert-into" size= "50" value="4.- Añade entradas a tu base de datos(INSERT INTO)">
                <input type="text" name="delete" size= "50" value="5.- Elimina en tu base de Datos(DELETE)">
            </div>
            <button onclick="analizar_lexico()">Analizar</button>
        </div>

        <div>
            
            <img src="/static/assets/logo_sql.png" alt="imagen_BD" id="logoBD">
        </div>
    </div>
    
    <div id="Resultados"></div>
    <script>
        function analizar_lexico(){
            const Resultados = document.getElementById("Resultados");
            
            var hola = "Hola Mundo"

            document.getElementById('Resultados').innerHTML = hola;
        }

    </script>
</body>
</html>