<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xd</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="Lexico">
        <h1>Resultado</h1>
        <pre>{{res_lexico}}</pre>
    </div>

    <div>
        <div class="Sintactico"></div>
        <h1>Resultado</h1>
    </div>
</body>
</html>